/* Custom CSS goes here */

/**
Filename = app.css
@author Dinesh Palle
@date : 8th July 2016
StudentID : 300705307
Website : http://comp125lab4.azurewebsites.net/
@description : This is the main CSS file of this website
*/


/* Body */
body { background-color: #BAECFB}
h6, h1, h3 {color: #1F2FA3}
#title {color: #1F2FA3}
hr {height:5px; border-color:#0028BC  }



/* Log In Page */
#contactForm {color: black}


